body{
    font-family: Arial, sans-serif;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}
header{
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}
nav{
    margin: 30px;
    display: flex;
    justify-content: center;
}
nav a{
    margin: 30px;
    padding: 30px;
    text-decoration: none;
    font-size: x-large;
    border-radius: 30px;
}
nav a:hover,input:hover,button:hover{
    text-decoration: underline;
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}
img{
    width: 200px;
    border-radius: 5px;
}
table{
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}
td{
    padding: 5px;
    border-collapse: collapse;
    text-align: center;
    padding: 20px;
}
.div1{
    text-align: center;
}
input{
    padding: 10px;
    border-radius: 10px;
}
button{
    padding: 30px;
    border-radius: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 10px;
    font-size: xx-large;
}
div h2{
    text-align: center;
    font-size: xx-large;
}