textarea {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 7px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    outline: none;
    resize: none;
}
input[type="button"] {
    background-color: #3e2723;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: #d4a373;
}
input{
    border-radius: 5px;
    width: 50%;
    box-shadow: 5px 5px 10px black;
    padding: 10px;
}
input:focus:valid{
    border: solid medium lightblue;
    box-shadow: 5px 5px 10px lightblue;
     /* Remove the default focus outline */
     outline: none;
}
input:focus:invalid{
    border: solid medium red;
    box-shadow: 5px 5px 10px red;
    outline: none;
}
